* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url('https://68.media.tumblr.com/bf4026cb1c2e6e9894a799bf60203785/tumblr_otkozjudaA1wt5cmyo1_500.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#weatherContainer {
    max-width: 100%;
    width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    #weatherContainer {
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    #weatherContainer {
        width: 100%;
        padding: 10px;
    }
}

